{% extends 'ManhattanConsoleBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Manhattan Console: Password Requested{% endblock %}

{% block fos_user_content %}
<div class="col-md-6 col-md-offset-3">
    <div class="login">

        <header class="login-header">
            <h2>Password Requested</h2>
        </header>

        <div class="l-box">
            <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
        </div>

    </div>
</div>

<div class="clear"></div>

{% endblock fos_user_content %}
