{% extends 'ManhattanConsoleBundle::layout.html.twig' %}

{% block title %}Manhattan Console: Forgotten Password{% endblock %}

{% block fos_user_content %}
<div class="pure-u-1">
    <div class="login">

        <header class="login-header">
            <h2>Forgot your password?</h2>
            <p>Please enter your email address</p>
        </header>

        <div class="l-box">

            {% if invalid_username is defined %}
                <div class="alert error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form action="{{ path('fos_user_resetting_send_email') }}" class="pure-form" method="post" novalidate>

                <div class="pure-control-group">
                    <input type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}" />
                </div>

                <div class="submit pure-control-group">
                    <input type="submit" class="pure-button pure-button-primary" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </form>
        </div>

        <footer class="login-footer">
            Maintained by Antelope Studios, under MIT Licence.
        </footer>

    </div>
</div>

{% endblock fos_user_content %}

{% block content_class %}pure-u-1{% endblock content_class %}
{% block navigationbar %}{% endblock navigationbar %}
{% block container_id %}{% endblock container_id %}
{% block footer %}{% endblock footer %}
