{% extends 'ManhattanConsoleBundle::layout.html.twig' %}

{% block title %}Manhattan Console: Reset Your Password{% endblock %}

{% block fos_user_content %}
<div class="pure-u-1">
    <div class="login">

        <header class="login-header">
            <h2>Reset Your Password</h2>
        </header>

        <div class="l-box">

            {% trans_default_domain 'FOSUserBundle' %}

            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="pure-form" novalidate>

                {{ form_widget(form) }}

                <div class="submit pure-control-group">
                    <input type="submit" class="pure-button pure-button-primary" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
            </form>
        </div>

        <footer class="login-footer">
            Maintained by Antelope Studios, under MIT Licence.
        </footer>

    </div>
</div>

{% endblock fos_user_content %}

{% block content_class %}pure-u-1{% endblock content_class %}
{% block navigationbar %}{% endblock navigationbar %}
{% block container_id %}{% endblock container_id %}
{% block footer %}{% endblock footer %}
