{% extends 'ManhattanConsoleBundle::layout.html.twig' %}

{% block title %}Manhattan Console: Reset Your Password{% endblock %}

{% block fos_user_content %}
<div class="col-md-6 col-md-offset-3">
    <div class="hero-unit">
        <div class="header">
            <h2>Reset Your Password</h2>
        </div>

        <div class="l-box">

            {% trans_default_domain 'FOSUserBundle' %}

            <form action="{{ path('fos_user_resetting_reset', {'subdomain': subdomain, 'token': token}) }}" {{ form_enctype(form) }} class="form-horizontal" method="post" role="form" novalidate>

                {{ form_widget(form) }}

                <div class="submit pure-control-group">
                    <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock fos_user_content %}
