body {
	padding-top: 60px;
	background-color: #EDEDED;
    color: #555555;
}
form.actions-delete,
.manage .btn.btn-danger {
	display: inline-block;
    margin: 0 0 0 3px;
    position: relative;
    float: right;
}
form label {
	font-weight: bold;
	color: #3f3f3f;
}

.page-header h1 span { font-weight: normal }

.records_list table td .btn-mini { margin:0.4em 0 }

/*  ----------
    :: Manage Images
    ---------- */
.manage h1 {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.manage h1 span {
    font-weight: normal;
}
div.manage { position: relative }
div.manage a.btn.manage {
    position: absolute;
    right: 0;
}

.image-list {
    padding: 0 20px;
}
.image-list .image {
    width: auto;
    float: left;
    padding: 0 10px;
}

.main-display {
    max-width: 1170px;
    margin: 0 auto;
}

.records_list.table.table-striped tbody {
    background: #FCFCFC;
}

.separate-entity.entity-left {
    border-top: 1px solid #E5E5E5;
    padding: 10px 0;
}
/*  ----------
    :: Manage Documents
    ---------- */
.document.well {
    padding: 5px 15px;
    position: relative;
}
    .document.well p { margin: 10px 120px 10px 10px }

.document-list .document ul.actions {
    list-style: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
    .document-list .document ul.actions li { display: inline }
    .document-list .document ul.actions:last-child { margin-right: 5px }

.control-group ul.documents {
    list-style: none;
    margin: 0 0 10px;
}
    .control-group ul.documents li { margin-bottom: 5px }

/*  ----------
    :: Preview Images
    ---------- */
.control-group .preview {
    padding-bottom: 10px;
}

.entity-left.control-group .controls { margin-left: 0 }
.entity-left.control-group .controls .controls { margin-left: 160px }

.control-group .photo-list .well {
    display: inline-block;
    width: 100%;
    padding: 0;
}

.photo-list .well div {
    width: 100%;
    float: left;
    display: inline-block;
    margin: 0;
}

.photo-list .well .actions {
    border-bottom: 1px solid #E3E3E3;
    background: #E3E3E3;
}

.control-group .actions div {
    float: left;
    width: auto;
    padding: 10px;
}
.control-group .actions ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 10px;
    float: right;
}

.control-group .actions li {
    display: inline-block;
    float: left;
}

.photo-list .well .image img {
    padding: 10px;
    float: left;
    width: 120px;
}
.photo-list .well .image p {
    padding: 10px;
    float: left;
    width: 75%;
}

.container.controls { margin-left: 0 }
    .container.controls .help-block { margin-left: 180px }

/*  ----------
    :: Nested Tree
    ---------- */
ul.nested-tree {
    list-style: none;
    margin: 0 25px 10px;
}
ul.nested-tree a { font-weight: bold }
ul.nested-tree ul a { font-weight: normal }
ul.nested-tree li {
    border-top: 1px solid #DDDDDD;
    padding: 10px 0;
    text-align: left;
    vertical-align: top;
}

ul.nested-tree ul {
    margin: 0 0 10px 25px;
    padding: 10px 0;
}
ul.nested-tree li .btn-small{
    float: right;
    text-align: center;
    width: 70px;
}
    ul.nested-tree li .btn-small i {
        margin-right: 15px;
    }
/*  ----------
    :: Login Form
    ---------- */
.span4 .header { margin: 20px 0 30px }

div.remember-me {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}
div.remember-me label,
div.remember-me input {
    float: left;
    line-height: 1.5em;
}
    div.remember-me label { margin-left: 10px; }

/*  ----------
    :: NavBar MainMenu Display
    ---------- */
.menu-dropdown {
    margin-left: 0;
    border: 1px solid #BBBBBB;
    border-top: none;
    display: none;
    float: left;
    list-style: none outside none;
    min-width: 120px;
    position: absolute;
    z-index: 1000;
    background: #F3F3F3;
}
    .menu-dropdown li a {
        display: block;
        padding: 0.5em 1.5em;
    }
    .nav .dropdown:hover ul.menu-dropdown { display: inline-block }

    .navbar .nav .menu-dropdown li.active > a, .navbar .nav .menu-dropdown li.active > a:hover {
        color: #366DDC;
        font-weight: bold;
    }
    .navbar .nav .menu-dropdown li.active > a:hover { text-decoration: underline }
    .menu-dropdown li:hover { background: #E4E4E4 }

    .navbar .nav li.dropdown.active > .dropdown-toggle
    {
        background: #EDEDED;
        border-left: 1px solid #BBBBBB;
        border-right: 1px solid #BBBBBB;
    }
    .navbar .nav li.dropdown.active:hover { background: #E4E4E4 !important }
    .navbar .nav li.dropdown.active > .dropdown-toggle:hover { color: #333342; border-bottom: none; }

    .menu-dropdown li a.main {
        font-weight: bold;
        padding: 0.5em 1.0em;
    }

    /*  ----------
    :: Messages
    ---------- */
.content { position: relative;}
#message.alert {
    position: absolute;
    right: 25px;
    top: 0;
}

/*  ----------
    :: Footer
    ---------- */
footer {
    border-top: 1px solid #C6C6C6;
    margin-top: 45px;
    padding: 5px 0;
    font-size: 0.8em;
}
    footer p {
        color: #555555;
        margin-bottom: 0;
    }
