{% extends 'ManhattanConsoleBundle::layout.html.twig' %}

{% block title %}Manhattan Console: Set Password{% endblock %}

{% block fos_user_content %}
<div class="col-md-6 col-md-offset-3">
    <div class="hero-unit">
        <div class="header">
            <p>Please set your password for accessing the Console.</p>
        </div>

        {% if error %}
        <div class="bs-callout bs-callout-danger">
            <h4>{{ error|trans({}, 'FOSUserBundle') }}</h4>
        </div>
        {% endif %}

        <form action="{{ path('console_users_password_set', { 'subdomain': subdomain, 'token': token}) }}" class="form-horizontal" method="post" role="form" id="login" novalidate>
            {{ form_widget(form) }}

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>

        </form>

    </div>
</div>
{% endblock fos_user_content %}
