{% block topHeader %}
{% spaceless %}
<header>
    <a href="{{ path(navigation.route.link, navigation.route.parameters) }}"><h2>{{ navigation.title }}</h2></a>
</header>
{% endspaceless %}
{% endblock %}
