{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{# Widgets #}

{% block preview_file_widget %}
    {% spaceless %}
        <div class="preview">
            {% if preview %}<img src="{{ asset(preview) | imagine_filter('thumb') }}" />{% endif %}
        </div>
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock %}

{% block telephone_widget %}
{% spaceless %}
    {% set type = type|default('tel') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock telephone_widget %}
